/* Header Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 15px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    
}
header {
    // background-color: #5bd140;
   
    padding: 20px;
    color: #fff;
    background-color: #26a541;
    // color: #fff;
    // padding: 15px;
}

.container {
    max-width: 1280;
    margin: 0 auto;
    padding:0px;
    display: flex;
    justify-content: space-evenly;
    // justify-content: space-between;
    // justify-content: space-around;
    align-items: center;

}
.logo{
    // display: flex;
    // align-items: center;
    height: fit-content;
    padding: 10px 5px;
}
.logo-g{
    color:#fd2e2e    
}

.logo-img {
    height: 40px;
    width: auto;
    border-radius: 50%;
}

.go-food {
    
    font-family: sans-Broadway;
    font-size:30px;
    font-weight: bolder;
    padding-left: 10px;
    
}

// .brand-name h1 {
//     font-size: 24px;
//     margin: 0;
// }

.search-bar {
    padding-left: 10px;
    display: flex;
   
    
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    background-color: #cff1af;
    color: #818080;
    
    border: none;
    padding: 8px 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: .5s;
}

.search-bar button:hover {
    background-color: #9cc491;
}

// .account-info a {
//     color: #fff;
//     text-decoration: none;
// }

// .account-info a:hover {
//     text-decoration: underline;
// }
.account-info {
    height: 45px;
    width: 80px;
    display: inline-block;
    padding: 13px;
    border: 3px solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.6s;
    animation: bn13bouncy 4s infinite linear;
    position: relative;
  }
  
  .account-info:hover {
    background-color: #bababa;
    color: #000000;
  }
  
  @keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }
.add-to-cart-btn {
    padding: 10px 13px;
    background-color: #9eee76;
    /* Blue color, you can change it */
    color: #ffffff;
    /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    // text-transform: uppercase;
    transition: .3s;
}
.add-to-cart-btn:hover{
    background-color: #bababa;
    
    
}
.row-1{

    display: flex;
    justify-content: space-around;
    align-items: center;
}   
.catagories{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all-catagories{
    display: flex;
    height: 100%;
    position: relative;
    top: 80px;
    padding-bottom: 80px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 32px;
    margin:20px
}
.dbe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    // margin: 100px;
    margin:20px;
}
.subcat{
    color:rgb(150, 150, 150);
    margin-top: px;               
    font-size: 18px;                
    width: fit-content;               
    margin-bottom: 8px;
    transition: .8s;
    text-decoration:none;
    // padding-top: 10px;
}
.subcat:hover{
    color:#31ae4c
}

.contactDetails{
    padding-top: 10px;
    // display:flex;
    height: auto;
    width: auto;
    

}
.address{
    padding-top: 10px;
    height: auto;
    width: auto;
    
}
@media screen {
   .footer {
    height: 100px;
    // display: flex;    
    text-align: center;
    background-color: #162d1b;
    color: #d2ff9b;
    margin:0px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 10px 10px 2px;
    -webkit-column-gap: 20px;
    // columns: 10px;;
    column-gap:10px;

}
// 
}
