body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #26a541;
    color: #fff;
    padding: 15px;
}
.container{
    display: flex;
    justify-content:space-evenly;
}

.brand-logo {
    height: 50px;
    width: 250px;
    
}
.logo-img{
        height: 40px;
        width: auto;
        border-radius: 50%;

}
.go-food {
    font-family: sans-Broadway;
    font-size:40px;
    font-weight: bolder;
    text-align:start; 
    padding-left: 10px;
}
.logo-g{
    color:#fd2e2e    
}
main {
    background-image: url('image.png'); 
            background-size: cover; 
            background-position: center; 
            height: 70vh; 
            margin: 0; 
            padding: 0; 
    padding: 60px;
}

.signin-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    // background: #e6fad5;
    background-color: rgba(255, 255, 255, 0.65);
}

.signin-form h2 {
    margin-top: 0;
}

.signin-form label {
    display: block;
    margin-bottom: 5px;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
}

.signin-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signin-form button:hover {
    background-color: #555;
}

.contactDetails{
    height: auto;
    width: auto;

}
.address{
    height: auto;
    width: auto;
    
}
@media screen {
    footer {
    text-align: center;
    background-color: #162d1b;
    color: #d2ff9b;
    margin:0px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 30px 60px 0;
    -webkit-column-gap: 20px;
    column-gap:10px;

}

}
